body {
  font-family: $primaryFont;
  font-size: 15px;
  @media only screen and (max-width:960px) {  
    //font-size: 15px;
  }
}

img {
  vertical-align: bottom;
}

h2 {
  font-size: 32px;
  font-family: $primaryFont;
}

 