/* Section Blocks */

.section-img-text {
    .group {
        display: flex;
    }
}

.sec-img-block {
    background-color: #000; 
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
    img {
        visibility: hidden;
    }
}

.sec-text-block { 
    padding: 70px 30px 30px;
    .block-content {
        max-width: 520px;
        width: 100%;
        margin: 0 auto 40px;
        p {

        }
    }
}

.sec-icon-title {
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    padding-left: 70px;
    margin-bottom: 20px;
    max-width: 400px;
    min-height: 65px;
    .title-icon {
        position: absolute;
        width: 65px;
        top: 5px;
        left: 0;
        img {
            width: 100%;
        }
    }
    &.title-purple {
        color : $sitePurple; 
    }
    &.title-yellow {
        color : $siteYellow ;
    }
    &.title-orange {
        color : $siteOrange;
    }
    &.title-blue {
        color : $brandColor;
    }
}




/* Subscribe Section */

.subscribe-section {
    background-color: $siteYellow;
    padding: 20px 0;
}
.subscribe-text {
    font-size: 22px;
    color:black;
    padding-top: 5px;
    strong {
        font-weight: bold;
        color:$brandColor;
    }
}
.subscribe-form {
    form {
        overflow: hidden;
        input {
            width: 70%;
            float: left;
            padding: 11px 10px;
            box-shadow: none;
            border:1px solid white;
            border-radius: 5px 0 0 5px;
        }
        button {
            width: 30%;
            float:left;
            padding: 11px;
            background-color: $brandColor;
            color:white;
            box-shadow: none;
            border:1px solid $brandColor;
            border-radius: 0 5px 5px 0;

        }
    }
}
/* Footer Styels */

.site-footer {

}

.container-footer {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

.top-footer {
    background-image:url('../images/footer-bg.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    padding: 75px 0 65px;
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($sitePurple,.95);
        display: block;
        left:0;
        top:0;
        content:"";
    }
    
}

.foot-title {
    color:white;
    margin-bottom: 35px;
}
 
.foot-social {
    overflow: hidden;
    li {
        display: block;
        padding-right: 25px;
        float: left;
        a {
            width: 35px;
            height: 35px;
            border-radius:100%;
            border:1px solid $brandColor;
            text-align:center;
            font-size: 18px;
            display: block;
            color: $brandColor;
            line-height: 35px;
            transition:all .3s;
            &:hover {
                color:white;
                background-color: $brandColor;
            }
        }
    }


}


.foot-links {
    li {
        margin-bottom: 5px;
    }
    a {
        font-family: $secondaryFont;
        text-decoration: none;
        color:white;
        transition:all .3s;
        &:hover {
            color:$brandColor;
        }
    }
}

.foot-contact {
    li {
        position: relative;
        padding-left:30px;
        margin-bottom: 15px; 
    }
       
    .contact-icon {
        width: 30px;
        position: absolute;
        top:0;
        left:0;
        color:$brandColor; 

        .fa-phone {
            transform: rotate(130deg);
            margin-top: 9px;
        }
    }

    a {
        text-decoration: none;
        color:white;
        transition:all .3s;
        &:hover {
            color:$brandColor;
        }

        small {
            display: block;

        }
        span {
            display: block;
        }
    }
}

.bottom-footer {
    background-color: $sitePurple;
    padding: 15px 0;
    .copyright {
        font-size: 14px;
        color: white;
    }
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {}

@media only screen and (min-width:480px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:1140px) {}

@media only screen and (min-width:1280px) {}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {}





@media only screen and (max-width:960px) {}